<p>
	<h2>Add new service</h2>
	<%= link_to "Authorize Google access", "/auth/google_oauth2", id: "sign_in" %><br>
	<%= link_to "Authorize Dropbox access", "/auth/dropbox_oauth2/authorize", id: "sign_in" %><br>
  <%= link_to "Authorize Evernote access", "/auth/evernote_oauth2/authorize", id: "sign_in" %>
</p>